<h1>Register</h1>
<form action="/user" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    Name:
    <input type="text" name="user[name]">
    Email:
    <input type="text" name="user[email]">
    Password:
    <input type="text" name="user[password]">
    Password Confirmation:
    <input type="text" name="user[password_confirmation]">
    <input type="submit" value="Register">
</form>
<div>
    <%if flash[:user_errors]%>
        <%flash[:user_errors].each do |error|%>
            <p><%=error%></p>
        <%end%>
    <%end%>
</div>

<h1>Log In</h1>
<form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    Email:
    <input type="text" name="user[email]">
    Password:
    <input type="text" name="user[password]">
    <input type="submit" value="Submit">
</form>
<div class="">
    <% if flash[:login_errors] %>
        <p><%= flash[:login_errors] %></p>
    <%end%>
</div>
